@charset "UTF-8";
* {
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
body {
  width: 100vw;
  height: 100vh;
}

main {
  background: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  
}


div#bac-logo {
  width: 45vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.845);

  display: flex;
  align-items: center;
  justify-content: center;

}

#lado-left{
  

  background-image: url(../Uaufotos/dia.jpg);
  background-size: contain;
  background-position: center top;
  width:45vw;
  height: 100vh;

}

img {

  width: 300px;
  height: 300px;
  
}
#foco-rigth {
  height: 100vh;
  background-color: #0e0e0e6e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(15,50px);
}

#lado-rigth {
  background-image: url(../Uaufotos/ponte.jpg);
  background-size: cover;
  background-position: center bottom;
  width: 55vw;
  height: 100vh;
}

menu {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: .9em;
    margin: 0px 15px;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
  }

  a:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: #faebd72a;
    color: #00ffff;
  }
}
div#texto {
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.549);
  grid-row-start: 4;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 3;

  justify-self: start;
  align-self: center;
  color: #fff;
  h1{
    margin: 10px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
  }
  p{
    margin: 10px;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    text-indent: 20px;
  }
}
.redes {
  grid-row-start: 13;
  grid-row-end: 15;
  grid-column-start: 1;
  grid-column-end: 3;

  justify-self: end;
  align-self: center;

  display: grid;
  grid-template-columns: auto auto;
  
}
.github {
  cursor: pointer;
  background-image: url(../Uaufotos/3291667.png);
  background-size: contain;
  background-color: purple;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.instagram {
  cursor: pointer;
  background-image: url(../Uaufotos/insta.png);
  background-size: cover;
  margin: 10px;
  background-color: rgb(8, 84, 214);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.nome  {
  text-align: center;
  color: #ffffff;
}